<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="WebHawk Continuous Deployment and Continuous Delivery Microframework">

    <title>WebHawk CI/CD Microframework</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('website.static', filename='vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('website.static', filename='css/main.css') }}">
</head>

<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">WebHawk</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link" href="{{ url_for('api.root') }}">RESTful API</a>
                        <a class="nav-link" href="mailto:dimi@stek.io">Contact</a>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">WebHawk CI/CD</h1>
                <p class="lead">WebHawk is a simple micro-framework which helps you create webhooks for Continuous
                    Deployment of your Bitbucket/Github hosted projects.</p>
                <p class="lead">
                    <a href="https://github.com/Stek-io/webhawk" target="_blank" class="btn btn-lg btn-secondary">Learn
                        more on Github</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Made with <span style="color:#fff">♥</span> by <a href="https://stek.op/">Stek.io</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>