<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebHawk Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('website.static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('website.static', filename='css/sb-admin.css') }}">

    <!-- WebHawk Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('website.static', filename='css/webhawk.css') }}">

    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="{{ url_for('website.static', filename='css/plugins/morris.css') }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ url_for('website.static', filename='font-awesome/css/font-awesome.min.css') }}">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% endblock head %}

</head>

<body>
<div id="wrapper">
    {% include 'nav.html' %}

    {% block content %}{% endblock content %}
</div>

{% block footer %}
<!-- jQuery -->
<script src="{{ url_for('website.static', filename='js/vendor/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('website.static', filename='js/vendor/bootstrap.min.js') }}"></script>

{% endblock footer %}
</body>

</html>